.error {
    color: red;
}

.top {
    margin-top: 2rem !important;
}

.clear-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.border-table {
    border: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
}

th:not(:last-child),
td:not(:last-child)
{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pull-right {
    float: right;
}

.auto-resize {
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.pages {
    margin-right: 1em;
}

.center {
    text-align: center;
}